db-april4/src/main/mule/db-april4.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="aad20e06-ef82-4962-8341-d54e0326f18f" >
		<db:oracle-connection host="localhost" user="system" password="Limshaw41" instance="orcl"/>
	</db:config>
	<flow name="db-april4Flow" doc:id="455fb41d-3e8d-4f03-a58a-76cf77819a7a" >
		<http:listener doc:name="Listener" doc:id="0cc7bc4d-a6e8-4443-8f67-076e93de6809" path="/test" config-ref="HTTP_Listener_configcom"/>
		<db:select doc:name="Select" doc:id="ed696757-7c42-4a88-ab5f-41e37b8a592f" config-ref="Database_Config">
			<db:sql >select * from db1</db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="d5c19824-2072-48a1-8e78-fc8b2cb157f0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="4fa274ce-d460-4e73-bdd2-a91a3e3272a6" message="#[payload]"/>
	</flow>
	
	<flow name="getAllById" doc:id="7acefc76-68e3-4887-b7e6-38ddbf0ab7bd" >
		<http:listener doc:name="Listener" doc:id="17f43170-55e2-4f23-a824-243545c4577f" path="/user/{ID}" config-ref="HTTP_Listener_configcom"/>
		<db:select doc:name="Select" doc:id="8142f434-b5b4-4960-ad15-c78aa7940233" config-ref="Database_Config">
			<db:sql >select * from DB1

where ID=:id</db:sql>
			<db:input-parameters ><![CDATA[#[{
'id': attributes.uriParams.ID
}]]]></db:input-parameters>
		
</db:select>
		<ee:transform doc:name="Transform Message" doc:id="90f38ae5-fe46-4df0-8929-2de6e1eccade" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	
	
	<flow name="create-customer-detail" doc:id="8eb500cb-ca0e-4f7e-a9af-644a78fc6f86" >
		<http:listener doc:name="Listener" doc:id="4f48fc1b-4208-4251-a150-8f7e6dc5b928" path="/insert" config-ref="HTTP_Listener_configcom"/>
		<db:insert doc:name="Insert" doc:id="ebd0d394-d819-4d0a-95d4-3a1ed3086dd4" config-ref="Database_Config">
			<db:sql >insert into DB1 (ID, NAME, AGE) 
values(:id, :name, :age)</db:sql>
			<db:input-parameters ><![CDATA[#[{
'id' : payload.ID,
'name': payload.NAME,
'age': payload.AGE
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="d695c321-216a-4f07-a35a-ec912f1b5079" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message:'data successfully inserted'
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	
</flow>

	<flow name="delete-customer-data" doc:id="d675feae-e528-4858-9f01-85539c8cf805" >
		<http:listener doc:name="Listener" doc:id="6e9c77e2-b7f2-4672-be67-beca53781064" path="/delete" config-ref="HTTP_Listener_configcom"/>
		<db:delete doc:name="Delete" doc:id="f74144a1-865b-4181-bee7-d96522c384cf" config-ref="Database_Config">
			<db:sql >delete from DB1 where ID = :id</db:sql>
			<db:input-parameters ><![CDATA[#[{
'id' : payload.ID,
'name': payload.NAME,
'age': payload.AGE
}]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="e8698f6a-c9a7-4374-8627-0e91331eed73" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message:'data successfully deleted'
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	
		<flow name="update-customer-data" doc:id="5811ca93-9a58-4c55-b715-c710140b9bb1" >
		<http:listener doc:name="Listener" doc:id="93ae203a-9b9c-4dfb-84a7-61cd5cd3f4cf" path="/update" config-ref="HTTP_Listener_configcom"/>
		<db:update doc:name="Update" doc:id="4fd33542-9d38-4459-9522-ce4be2626328" config-ref="Database_Config">
			<db:sql >update DB1 set Name = :name, Age =:age where ID = :id</db:sql>
			<db:input-parameters ><![CDATA[#[{
'id' : payload.ID,
'name': payload.NAME,
'age': payload.AGE
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message" doc:id="7931e896-5e38-424c-9563-5a4e3f15cd3a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
message: 'data successfully updated'	
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
